<p>create-guild works!</p>


<form [formGroup]="guildForm" (ngSubmit)="onSubmit()">
  <p>
    <label for="name">Name: </label>
    <input id="name" type="text" formControlName="name">
  </p>

  <p>
    <label for="description">Description: </label>
    <input id="description" type="text" formControlName="description">
  </p>

  <p>
    <label for="maxmember">Maxmember: </label>
    <input id="maxmember" type="text" formControlName="maxmember">
  </p>

  <button type="submit" [disabled]="!guildForm.valid">Create own guild</button>

</form>
